<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Выберите месяц</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
<h1>Выберите месяц</h1>
<form action="/calculate" method="post">
    <select name="month">
        <option value="jan">Январь</option>
        <option value="feb">Февраль</option>
        <option value="mar">Март</option>
        <option value="apr">Апрель</option>
        <option value="may">Май</option>
        <option value="jun">Июнь</option>
        <option value="jul">Июль</option>
        <option value="aug">Август</option>
        <option value="sep">Сентябрь</option>
        <option value="oct">Октябрь</option>
        <option value="nov">Ноябрь</option>
        <option value="dec">Декабрь</option>
    </select>
    <button type="submit">Продолжить</button>
</form>
</body>
</html>
